html body{
	min-width: 50em;
	min-height: 50em;
}

.ct-label{
	/*line-height: 3;*/
	font-size: 1.25em;
}

.ct-chart-pie.ct-square{

    height: 80%;
    width: 80%;
}

.ct-chart-pie{
    margin: .5em .5em .5em .5em ;
    height: 100%;
    width: 100%;
    position: relative;
}

#overallChart{
    /*margin: 2em 2em 2em 2em;*/
}

.mdl-grid .mdl-cell{
    margin: .5em .5em .5em .5em ;
}

.mdl-card{
/*    margin: 1em 1em 1em 1em;*/
    min-height: 100%;
    min-width: 100%;

}

.mdl-layout__header .appHeader {
    margin: 3em 3em 3em 5em;
    padding: 0em 0em 0em 0em;
}

.mdl-layout-tab {
    color: rgba(66,66,66,.8);
}

li legend{
    list-style-image: url("Assets/square.png");
}

.mdl-card__title-text{
    text-align: center;
    color: white;
}

.mdl-card__title #legendTitle{
    color: white;
}

#legendCard {
    background-color: #01579B;
}

#accentCard {
    background-color: #FFEB3B;
}

#legendDiv{
    color: white;
}


