html body{
	min-width: 50em;
	min-height: 50em;
}

.ct-label{
	line-height: 3;
	font-size: 1.25em;
}

.ct-chart{
    height: 80%;
    width: 80%;
}

#overallChart{
    margin-left: 5em;
}

.appHeader {
    margin: 5em 5em 5em 5em;
}