html body{
	min-width: 50em;
	min-height: 50em;
}

.ct-label{
	line-height: 3;
	font-size: 1.25em;
}

.ct-chart{
    margin: 1em 1em 1em 1em;
    height: 70%;
    width: 70%;
}

#overallChart{
    margin-left: 5em;
}

.mdl-layout__header .appHeader {
    margin: 3em 3em 3em 3em;
}

.mdl-layout-tab {
    color: rgba(66,66,66,.8);
}




